[core]
	symlinks = false
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[color "branch"]
	current = yellow black
	local = yellow
	remote = magenta

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red reverse
	new = green reverse
	whitespace = white reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan reverse
	branch = magenta

[user]
	name = Ivan Cvitkovic
	email = icvitkovic@gmail.com

[alias]
	find = ls-tree -r HEAD --name-only
	dif = !clear && git diff
	co = checkout
	stat = status
	apply-stash-to-dirty-working-tree = !git stash show -p | git apply && git stash drop
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	cached = diff --name-only --cached
	root = rev-parse --show-toplevel

	# Delete merged branches
	branch-prune = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

	# Generate a remote url to use to access this repo
	gen-remote-url  = "!echo $USER@$(hostname -f):$(git root) | sed -e 's#'"$HOME"'/#~/#g'"

	# Get branches removed from origin remote
	remote-pruned = "!git remote prune origin -n | grep --color=never --fixed-strings '[would prune]' | awk '{print $NF}' | sed 's|origin/||g' | sort"

	# Remove local branches with the same name as ones removed from origin
	prune-squash-merged  = !bash -c 'comm -12 <(git branch | cut -c 3- | sort) <(git remote-pruned) | xargs echo git branch -D'

	# List branches by date
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

	# Set repo to UW email
	profileuw = config user.email \"ivanc@uw.edu\"
	reset-permissions = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[diff]
	algorithm = patience
[log]
	date = local
[push]
	default = current
