[core]
#  quotepath = false
#  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    symlinks = false
	excludesfile = ~/.gitignore_global
[color]
  ui = true
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red reverse
  new = green reverse
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
[user]
  name = Ivan Cvitkovic
  email = ivanc@uw.edu

[alias]
  dif = !clear && git diff
  co = checkout
  stat = status
  standup = log --since=1.weeks --author=ivanc --oneline
  apply-stash-to-dirty-working-tree = !git stash show -p | git apply && git stash drop
	root = rev-parse --show-toplevel
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	cached = diff --name-only --cached
[diff]
	algorithm = patience
